.Login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-image: linear-gradient(to bottom, rgba(235, 228, 228, 0), rgba(197, 187, 187, 0)), url(movie-page\ \(1\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.main-container {
  width: 350px; 
  border-radius: 0.75rem;
  background-color: #ec0606;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}


.main-container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}


.form-container {
  display: flex;
  flex-direction: column;
  width: 100%; 
  gap: 1rem;
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
}


.submit-container {
  margin-top: 1rem;
}


.btn-primary {
  display: block;
  width: 100%;  
  background-color: #7d080a;
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 800;
  cursor: pointer;
  border-radius: 4px;
}


.btn-primary:hover {
  background-color: transparent;
  color: #ff133d;
  border: 2px solid #ff133d;
}


.register-container {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
}

.register-container a {
  color: #fff;
  text-decoration: none;
}

.register-container a:hover {
  text-decoration: underline;
}


.loading-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin: auto;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (min-width: 1024px) {
  .main-container {
    width: 400px;  
  }
}
