.main-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('login-register-image\ 3.jpg');
  background-position: center;
  background-size: cover;
  margin: 10;
  padding: 0;
  flex-direction: column;
}

.form-container {
  padding: 4rem 2rem;
  border: 5px solid #ffffff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(160, 211, 233, 0.516);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(95, 0, 179, 0.2);
  text-align: left;
  width: 100%;
  max-width: 500px;
}

.form-container h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  align-self: flex-start;
}

.form-container > div {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-group input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.errors {
  color: red;
  font-size: 14px;
}

.submit-container button {
  margin-top: 1rem;
  padding: 0.8rem 11rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
 small{
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}

.submit-container button:hover {
  background-color: #ffffff;
}

.form-containerg {
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 4rem 5rem;
  border: 5px solid #ffffff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: rgba(171, 192, 218, 0.814);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(95, 0, 179, 0.2);
  text-align: left;
  width: 100%;
  max-width: 400px;
}

.show-password {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .main-container {
      justify-content: center;
  }
}
.form-actions {
  text-align: center; /* Center-align the content */
  margin-top: 20px;   /* Add spacing above */
}

.register-button {
  display: inline-block;
  margin-bottom: 15px; /* Space below the button */
  padding: 10px 20px;  /* Button padding */
  font-size: 16px;
  cursor: pointer;
}

.login-link {
  font-size: 14px;
  margin-bottom: 10px; /* Space between the button and text */
}

